.mappage{
    position: relative;
    height: 900px;
    min-width: 1650px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #000;
}
.block{
    position: absolute;
    padding: 10px;
    background-color: #fff;
}
.block-info{
    left: 0;
    top: 0;
    height: 80px;
    width: 250px;
    padding-left: 0;
    z-index: 300;
}
.block-team{
    left: -10px;
    top: 80px;
    height: 819px;
    width: 260px;
    padding: 4px;
    z-index: 200;
}
.btn-system{
    position: absolute;
    top: 11px;
    right: 10px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #131313;
    color: #fff;
    font-size: 16px;
}
.price{
    color: DarkOrange;
}
.bar-1{
    margin-bottom: 4px;
}
.member{
    position: relative;
    border: 1px solid #ccc;
    background-color: #fafafa;
    width: 100%;
    height: 120px;
    padding: 4px;
    padding-left: 14px;
    margin-bottom: 6px;
    transition: .2s all;
    background-image: linear-gradient(to bottom right, #eaeaea 1%, #fff 50%, #eaeaea 100%);
}
.member[class*='select']{
    width: 266px;
    box-shadow: 0 0 12px orange;
    padding-right: 18px;
}
.member-empty{
    line-height: 120px;
    text-align: center;
    color: #888;
}
.member-name{
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}
.btn-edit{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    width: 16px;
    font-size: 10px;
}
.edit input{
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid #131313;
    background-color: transparent;
    width: 180px;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-bottom: 40px;
}
.member-weapon{
    background-color: #888;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    padding: 2px 6px;
    font-weight: normal;
}
.teamorder{
    position: absolute;
    left: 183px;
    top: 10px;
    width: 60px;
    height: 16px;
    line-height:16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}
.teamorder .btn{
    display: block;
    width: 15px;
    height: 15px;
    line-height: 13.5px;
    text-align: center;
    font-size: 15px;
    background-color: #131313;
    color: #fff;
    border: 1px solid #fff;
}
.teamorder span{

}

.role{
    padding: 2px 8px;
}
.building{
    padding: 2px 8px;
}
.building-name{
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    word-break: keep-all;
}
.building-desc{
    color: #666;
}
.attr-wrap{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.member-attr{
    position: relative;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 75px;
    font-size: 12px;
    white-space: nowrap;
    word-break: keep-all;
    font-weight: bold;
}
.member-attr .cir{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    border-radius: 11px;
    color: #fff;
    z-index: 10;
}
.member-attr .attr{
    position: absolute;
    height: 18px;
    line-height: 16px;
    top: 2px;
    left: 12px;
    width: 60px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: inline-block;
    z-index: 5;
}
.str .cir{
    background-color: FireBrick;
}
.str .attr{
    color: FireBrick;
    border: 1px solid FireBrick;
}
.acr .cir{
    background-color: #1E90FF;
}
.acr .attr{
    color: #1E90FF;
    border: 1px solid #1E90FF;
}
.dex .cir{
    background-color: ForestGreen;
}
.dex .attr{
    color: ForestGreen;
    border: 1px solid ForestGreen;
}
.member-attr span{
    font-size: 15px;
}
.block-map{
    left: 250px;
    height: 100%;
    width: 730px;
    z-index: 20;
}
.block-detail{
    left: 980px;
    top: 0;
    height: 900px;
    width: 350px;
    z-index: 200;
    padding: 0;
    padding-bottom: 20px;
    overflow-x: visible;
    overflow-y: auto;
}
.block-my-detail{
    left: 630px;
    top: 0;
    height: 900px;
    width: 350px;
    overflow-y: auto;
    z-index: 200;
    padding: 0;
}
.map-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 28px;
    white-space: nowrap;
    word-break: keep-all;
}
.map-name-wrap{
    display: inline-block;
    padding: 0 6px;
    height: 100%;
    width: 200px;
}
.map-subtitle,.map-name{
    display: block;
    white-space: nowrap;
    word-break: keep-all;
}
.map-subtitle{
    height: 10px;
    line-height: 10px;
    font-size: 13px;
}
.map-name{
    height: 40px;
    line-height: 40px;
    font-size: 24px;
}
.map-name-center{
    text-align: center;
}
.map-direction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
.map{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 680px;
    height: 680px;
    padding: 5px;
    margin: 0 auto;
}
.cell{
    position: relative;
    background-color: #aaa;
    border: 4px solid #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: .2s all;
    text-shadow: 0 0 6px #fff;
    box-shadow: 0 0 10px #aaa inset;
}
.cell:hover{
    opacity: 1 !important;
}
.cell:not(.visible):hover{
    background-color: #888;
}
.lg .cell{
    font-size: 13px;
}
.md .cell{
    font-size: 15px;
}
.sm .cell{
    font-size: 17px;
}
.visible{
    background-color: #fff;
    border: 2px solid #aaa;
}
.select{
    border: 1px solid orange !important;
    background-image: none;
}
.cell[class*='select']{
    transform: scale(1.1);
    box-shadow: 0 0 6px orange;
    z-index: 100;
}
.sp1{
    font-weight: bold;
}
.cell-dir{
    position: absolute;
    top: -10%;
    right: 0;
    left: 0;
    margin: auto;
    height: 30%;
    width: 15px;
    line-height: 3.5;
    font-size: 12px;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 4px #fff;
}
.n,.n::before{
    background-color: Red;
}
.e,.e::before{
    background-color: DarkSlateBlue;
}
.s,.s::before{
    background-color: Peru;
}
.w,.w::before{
    background-color: DarkGreen;
}
.map-selection{
    height: 120px;
    width: 565px;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 8px;
}
.selection{
    width: 100px;
    height: 35px;
    margin-right: 6px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #aaa;
}
.sp2{
    font-weight: bold;
}
.info-day{
    padding-left: 15px;
    margin-bottom: 7px;
}
.info-day b{
    color: RoyalBlue;
    text-shadow: 0 0 1px #131313;
}
.info-money{
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    background-image: linear-gradient( to right,Brown 80%, #fff 100%);
    /* background-color: brown; */
}
.info-money small{
    color: orange;
    font-weight: bold;
    font-size: 11px;
    vertical-align:text-bottom;
}
.gold{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    letter-spacing: 2px;
    color: DarkOrange;
    white-space: nowrap;
    word-break: keep-all;
    font-size: 20px;
}
.info-money .bill{
    display: inline-block;
    position: relative;
    width: 120px;
    height: 30px;
    line-height: 30px;
}
.info-money .money{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #e81313;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    letter-spacing: 2px;
    font-size: 20px;
    white-space: nowrap;
    word-break: keep-all;
    text-align: center;
}
.info-money .money .gold{
    padding: 0;
}
.info-money .bill-shdaow{
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: .9;
    border-radius: 4px;
}
.btn-leave{
    position: absolute;
    top: 770px;
    right: 10px;
    height: 120px;
    width: 130px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    cursor: pointer;
}
.btn:hover{
    opacity: .8;
}
.option{
    width: 100%;
    padding: 10px;
    line-height: 50px;
}
.panel{
    border: 1px solid #131313;
    border-left: 4px solid #131313;
    margin-bottom: 10px;
    padding: 4px;
}
.option .btn{
    min-width: 120px;
    min-width: 65px;
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background-color: #131313;
    color: #fff;
    text-align: center;
}
.option .btn-build{
    background-color: DarkGreen;
}
.blue{
    color: Orange;
    font-size: 18px;
    margin: 0 5px;
}
/* alert */
.alert{
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 800px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    z-index: 1006;
    color: #fff;
    font-size: 28px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #000, rgba(0,0,0,0));
    animation: fadeout 2s linear forwards;
}
@keyframes fadeout {
    50%{
        transform: translateY(-15%);
        opacity: 1;
    }
    99%{
        transform: translateY(-30%);
        opacity: 0;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

.move-pop{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 501;
}
.move-pop .pop-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: 0 auto;
    width: 400px;
    min-height: 150px;
    z-index: 2;
}
.move-pop .confirm-title{
    position: absolute;
    left: 0;
    right: 0;
    top: -90px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: normal;
}
.move-pop .btn-shadow{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
}
.move-pop .btn-role{
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    word-break: keep-all;
    color: #131313;
    background-color: #fff;
}
.move-pop .btn-role-wrap:not(:last-child){
    margin-bottom: 20px;
}
.move-pop .btn-ban{
    background-color: #aaa;
    color: #fff;
}
/* confirm */
.confirm{
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 40px;
    width: 600px;
    padding-bottom: 35px;
    min-height: 160px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #131313;
    box-shadow: 0 0 10px #131313;
    z-index: 1005;
}
.confirm-title{
    min-height: 90px;
    padding: 20px 0;
    line-height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.confirm .btn-wrap{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.confirm .btn-wrap a{
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #131313;
    display: inline-block;
}
.cell-name{
    text-align: center;
}
.cell-med{
    position: absolute;
    top: 4%;
    left: 6%;
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: RoyalBlue;
    text-shadow: 0 0 3px #fff;
    animation: roll 5s linear infinite;
}
@keyframes roll {
    to{
        transform: rotateZ(360deg);
    }
}
.cell-highland{
    position: absolute;
    bottom: -15%;
    left: 0;
    right: 0;
    margin: auto;
    height: 37%;
    width: 100%;
    line-height: 12px;
    font-size: 12px;
    background-color: #131313;
    box-shadow: 0 -4px 2px #131313;
    color: #fff;
    text-align: center;
}
.cell-creep{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: .5;
    background-color: red;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    animation: flash .5s linear infinite alternate;
}
@keyframes flash {
    to{
        opacity: .2;
        transform: scale(2);
    }
}
.cell-core{
    position: absolute;
    right: 0;
    bottom: 20%;
    margin: 0 auto;
    height: 13px;
    width: 100%;
    line-height: 13px;
    font-size: 8px;
    background-color: #e81313;
    color: #fff;
    text-align: center;
}

/* 世界地图 */
.btn-world{
    position: absolute;
    top: 14px;
    right: 6px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #131313;
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    word-break: keep-all;
}
.world{
    position: absolute;
    left: -314px;
    bottom: -311px;
    width: 880px;
    height: 880px;
    padding: 0;
    transform: scale(.272);
    background-color: #000;
    z-index: 1000;
}
.max-world{
    transform: scale(1) translate(314px,-311px);
    height: 910px;
    padding: 6px;
    opacity: .9;
    transition: .5s all;
}
.btn-min-world{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 300;
}
.world-title{
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    width: 120px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 28px;
    z-index: 1000;
    color: #fff;
    text-shadow: 0 0 8px #fff;
}
.btn-leave-world{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: OrangeRed;
    color: #fff;
    text-align: center;
}
.compass{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.world .n{
    top: -21px;
    left: 364px;
}
.world .e{
    left: auto;
    top: 364px;
    right: -21px;
}
.world .s{
    top: auto;
    bottom: -21px;
    left: 364px;
}
.world .w{
    right: auto;
    top: 364px;
    left: -21px;
}
.world .maps{
    position: relative;
    width: 750px;
    height: 750px;
    margin: auto;
    margin-top: 65px;
    /* border: 1px solid #aaa; */
}
.max-world .maps{
    width: 750px;
    height: 750px;
    margin: 0 auto;
}
.maps-grid,
.maps-ban-grid{
    position: absolute;
    width: 64.7px;
    height: 64.7px;
    border-radius: 4px;
    background-color: DarkCyan;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cantrans::after{
    content: '';
    position: absolute;
    top: -2.6px;
    right: -2.6px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    box-shadow: 0 0 4px 4px LightCyan inset;
    animation: trans .75s linear infinite alternate;
    z-index: 1200;
}
@keyframes trans {
    to{
        transform: scale(1.2);
    }
}
.maps .cur{
    box-shadow: 0 0 8px 2px orange inset;
    animation: mapcur .5s linear infinite alternate;
}
@keyframes mapcur {
    to{
        box-shadow: 0 0 4px 8px orange inset;
    }
}
.maps-ban-grid{
    background-color: transparent;
    font-size: 40px;
    font-weight: bold;
    color: #444;
}
.danger{
    color: #fff;
    background-color: OrangeRed;
}
.btn-map:hover{
    opacity: .8;
    z-index: 1200;
}
.wasted{
    background-color: SeaGreen;
}
.system-panel{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.system-bg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 10001;
}
.system-wrap{
    left: 0;
    right: 0;
    top: 30%;
    margin: 0 auto;
    width: 180px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    box-shadow: 0 0 10px 2px #131313;
    z-index: 10002;
}
.system-panel .btn{
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #131313;
    color: #fff;
    text-align: center;
}
.system-guide{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
    height: calc( 100% - 200px );
    box-shadow: 0 0 10px 2px #131313;
    z-index: 10003;
}
.system-guide .guide-title{
    padding-left: 10px;
    border-left: 4px solid orange;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.system-guide .guide-main{
    padding: 10px 4px;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}
.system-guide .guide-main .para{
    margin-bottom: 20px;
}
.system-guide .guide-main h4{
    display: inline-block;
    padding: 0 4px;
    border-left: 1px solid #e81313;
    border-bottom: 1px solid #e81313;
    height: 18px;
    line-height: 18px;
    margin-bottom: 2px;
}
.system-guide .guide-main section{
    padding: 2px 0;
    color: #666;
}
.system-guide .btn-close{
    display: inline-block;
    float: right;
    width: 40px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
.btn-prepare{
    display: block;
    height: 30px;
    width: 240px;
    line-height: 30px;
    text-align: center;
    background-color: #131313;
    color: #fff;
    float:right;
}
.guide-buff{
    display: block;
}
.guide-hero-wrap{
    display: block;
    width: 500px;
}
.guide-hero{
    display: inline-block;
    width: 110px;
    text-align: center;
    margin-right: 10px;
    white-space: nowrap;
    word-break: keep-all;
}

/* 熔炉 */
.combine-wrap{
    padding: 6px 0;
}
.btn-combine{
    display: block;
    padding: 4px;
    color: #666;
    position: relative;
}
.btn-combine .equip-name{
    font-size: 16px;
    width: 100%;
    display: inline-block;
    margin-bottom: 4px;
}
.first-combine .equip-name{
    font-weight: bold;
}
.btn-combine:hover{
    opacity: .6;
}
.btn-combine:hover::after{
    content: '移 出 熔 炉';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
    color: #fff;
}
.first-combine{
    margin-bottom: 16px;
    background-color: DarkOrange;
    color: #fff;
}
.combine-list{
    border: 1px solid #131313;
}
.combine-title{
    color: #fff;
    padding: 0 6px;
    background-color: #131313;
    height: 30px;
    line-height: 30px;
}
.combine-list .btn-combine:not(:last-child){
    border-bottom: 1px solid #131313;
}
.preview{
    display: inline-block;
    margin-left: 6px;
}
/* 排行榜 */
.rank{

}
.rank-title{
    font-size: 18px;
    margin-bottom: 4px;
}
.rank .sp{
}
.rank .sp .name,
.rank .tm .name,
.rank .fr .name{
    font-weight: bold;
}
.rank .sp .name::before{
    content: '★';
    color: red;
}
.rank .tm .name::before{
    content: '●';
    color: #1E90FF;
}
.rank .fr .name::before{
    content: '●';
    color: LimeGreen;
}
.rank .sp .name::before,
.rank .tm .name::before,
.rank .fr .name::before{
    display: inline-block;
    font-weight: bold;
    text-shadow: 0 0 5px #fff;
    font-size: 20px;
    margin-right: 4px;
}

.rank-item{
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
    border-bottom: 1px solid #131313;
}
.live-mark{
    font-size: 20px;
    text-shadow: 0 0 4px #e81313;
    animation: lmflash .4s linear infinite alternate;
}
@keyframes lmflash {
    to{
        opacity: .2;
    }
}
.rank .top50{
    background-color: PaleTurquoise;
}
.rank .top40{
    background-color: GreenYellow;
}
.rank .top30{
    background-color: Yellow;
}
.rank .top20{
    background-color: DarkOrange;
}
.rank .top10{
    background-color: FireBrick;
    color: #fff;
    height: 56px;
    line-height: 56px;
}
.rank .top10 .score{
    text-shadow: 3px 3px 4px #000;
}
.rank-item .order{
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #131313;
    color: #fff;
    border-radius: 14px;
}
.rank-header{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    padding: 0;
}
.rank-header .order{
    width: 40px;
    height: 25px;
    line-height: 25px;
    color: #131313;
    display: block;
    text-align: center;
    border-radius: 0;
    background-color: transparent;
}
.rank-item .name{
    width: 150px;
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    word-break: keep-all;
}
.rank-item .score{
    width: 100px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    word-break: keep-all;
}
.rank-header .score{
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
}

/* 夺宝能力 */
.btn-use-med{
    background-color: RoyalBlue !important;
}
.btn-use-luck{
    background-color: Orange !important;
}
.luck-wrap{
    display: inline-block;
    width: 450px;
    line-height: 20px;
    height: 20px;
    border-left: 2px solid orange;
    padding-left: 6px;
}

/* 寄存装备 */
.p-list{
    background-color: #131313;
    color: #fff;
}
.deposit-list{
    background-color: DarkCyan !important;
}
.counter-list{
    background-color: Coral !important;
}
.rank-list{
    background-color: FireBrick !important;
}
.deposit-tip{
    height: 50px;
    line-height: 50px;
    color: #888;
    background-color: #fff;
    text-align: center;
}
.equip-item{
    background-color: #fff;
    color: #131313;
    position: relative;
    padding: 6px;
    margin-bottom: 8px;
    box-shadow: 0 4px 4px #000;
    animation: item .25s ease-out forwards;
}
.equip-title{
    color: MediumSlateBlue;
}
.equip-name{
    color: DarkSlateBlue;
    font-weight: bold;
    font-size: 18px;
}
.equip-price{
    position: absolute;
    top: 2px;
    right: 8px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.price{
    color: DarkOrange;
}
.equip-dmg-wrap{
    line-height: 20px;
    margin: 4px 0;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.equip-dmg{
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding-left: 4px;
    margin-bottom: 2px;
    background-image: linear-gradient(to right, #131313 80%, transparent 100%);
}
.option-wrap{
    margin: 2px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
    line-height: 25px;
}
.option-wrap .btn{
    min-width: 65px;
    padding: 0 8px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    color: #fff;
    text-align: center;
    margin: 0 2px;
}

/* 大脑 */
.move-pop .brain-pop{
    top: 15%;
    left: 275px;
    margin: 0;
    width: 700px;
    box-shadow: 0 0 16px 10px #131313;
}
.btn-brain-shadow{
    opacity: .3;
}
.brain{
    position: relative;
    width: 700px;
    height: 500px;
    background-color: #fff;
}
.cellset-wrap{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 500px;
    height: 500px;
}
.cellset-title{
    position: absolute;
    left: 5px;
    top: 5px;
}
.cellset-attr-wrap{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cellset-attr-wrap .member-attr{
    width: 105px;
}
.cellset-attr-wrap .attr{
    width: 90px;
}
.cellset-block{
    width: 500px;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cellset{
    position: relative;
    box-shadow: 0 0 52px orange;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 4px;
}
.brain-cell,.clone-cell{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 11px;
}
.brain-cell{
    z-index: 10;
    /* box-shadow: 0 0 5px #fff; */
    box-sizing: border-box;
}
.bd-top{
    border-top: 1px solid #fff;
}
.bd-left{
    border-left: 1px solid #fff;
}
.bd-right{
    border-right: 1px solid #fff;
}
.bd-bottom{
    border-bottom: 1px solid #fff;
}
.brain-cell-sel{
    opacity: .7;
    animation: bcflash .3s linear infinite alternate;
}
@keyframes bcflash {
    to{
        opacity: .5;
    }
}
.brain-cell-type-1{
    background-color: FireBrick;
    z-index: 2;
    cursor: cell;
}
.brain-cell-type-2{
    background-color: #1E90FF;
    z-index: 2;
    cursor: cell;
}
.brain-cell-type-3{
    background-color: ForestGreen;
    z-index: 2;
    cursor: cell;
}
.cellset-clone{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 5;
}
.clone-cell{
    opacity: .5;
    box-shadow: none;
}
.forbiden .clone-cell{
    opacity: .25;
    background-color: #000;
}
.btn-cancel-drag{
    position: absolute;
    background-color: #131313;
    color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.cellset-tip{
    position: absolute;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, #fff 50%, rgba(0,0,0,0) 100%);
    color: #aaa;
    width: 100%;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.memory-wrap{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 200px;
    height: 500px;
    border-left: 1px solid #ccc;
    overflow-x: visible;
}
.memory-title{
    position: absolute;
    left: 5px;
    top: 5px;
    height: 20px;
    line-height: 20px;
}
.memory-list{
    position: absolute;
    left: 0;
    top: 30px;
    height: calc( 100% - 30px );
    width: 100%;
    overflow-x: visible;
    overflow-y: scroll;
    padding-bottom: 40px;
}
.rebuilding-cover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: 500;
}
.counter{
    padding: 4px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 168px;
    text-align: center;
    background-color: #fff;
}
.counter-tip{
    height: 168px;
    line-height: 168px;
    color: #131313;
    text-align: center;
    background-color: #fff;
    color: #888;
}
.memory{
    background-image: linear-gradient(to bottom right, #fff 0, orange 100%);
    /* background-image: linear-gradient(to bottom left, #fff 0, orange 50%, #fff 100%); */
    /* background-image: linear-gradient(to bottom left, #fff 1%, #eaeaea 50%, #fff 100%); */
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    width: 100%;
    min-height: 40px;
    margin-bottom: 4px;
    cursor: cell;
    font-weight: bold;
}
.hotel-memory{
    width: 30%;
    margin-left: 1.65%;
    margin-right: 1.65%;
    cursor: default;
    border: none;
}
.hotel-memory .memory-info{
    text-align: center;
    letter-spacing: normal;
    word-spacing: 0;
}
.hotel-memory .memory-graph{
    margin: 0 auto;
    width: 88px;
    height: 88px;
}
.counter-price{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    background-color: #131313;
    margin-top: 3px;
}
.counter-price b{
    color: orange;
}
.btn-counter{
    display: block;
    width: 100%;
    height: 25px;
    background-color: OrangeRed;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: 18px;
}
.memory-sel{
    animation: msflash 1s linear infinite;
}
@keyframes msflash {
    to{
        background-position: 182.33px 0;
    }
}
.memory-info{
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    font-size: 13px;
    text-shadow: 0 0 2px #fff;
    white-space: nowrap;
    word-break: keep-all;
    letter-spacing: 0;
    word-spacing: -4px;
    color: #131313;
    /* background-image: linear-gradient(to left, rgba(0,0,0,0) 0%, #ab14b3 100%); */
}
.memory-info .btn{
    display: inline-block;
    height: 18px;
    text-align: center;
    line-height: 18px;
    width: 18px;
    background-color: #131313;
    color: #fff;
    font-size: 14px;
    margin-right: 0;
}
.memory-info .btn-rotate{
    font-weight: bold;
    margin-right: 3px;
}
.memory-info .btn-memory-sell{
    font-weight: normal;
}
.memory-info .btn-memory-confirm-sell{
    color: orange;
    width: auto;
    padding: 0 2px;
    font-weight: bold;
}
.memory-graph{
    position: relative;
    display: block;
    overflow: hidden;
    margin-left: 4px;
    background-color: #131313;
    width: 56px;
    height: 56px;
    box-shadow: 0 0 2px #131313;
}
.memory-cell{
    position: absolute;
    width: 10px;
    height: 10px;
    margin: 0;
    line-height: 0;
    box-shadow: 0 0 2px #fff;
}
.memory-cell-type-1{
    background-color: FireBrick;
}
.memory-cell-type-2{
    background-color: #1E90FF;
}
.memory-cell-type-3{
    background-color: ForestGreen;
}
.btn-unload-all,
.btn-sort-1,
.btn-sort-2{
    position: absolute;
    display: block;
    top: 4px;
    background-color: #131313;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    width: 40px;
    text-align: center;
}
.btn-sort-1{
    right: 55px;
}
.btn-sort-2{
    right: 10px
}
.btn-unload-all{
    width: 70px;
    right: 10px;
}











.block-debug{
    top: 0;
    right: auto;
    left: 250px;
    opacity: .9;
    background-color: Khaki;
}
.btn-test{
    position: absolute;
    left: 0;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid orange;
    background-color: #131313;
    color: #fff;
    font-size: 14px;
    z-index: 10000;
}
.btn-test1{
    bottom: 70px;
}
.btn-test2{
    bottom: 35px;
}
.btn-test3{
    bottom: 0;
}













/**/
